---
layout: default
---

<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">
            {% include sidebar.html %}

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
            <section>
                <a href="{{ site.prefix }}{{ page.url }}" class="image full"><img src="/assets/{{ page.featured }}" alt=""></a>
                <header class="post-header">
                    <h2 class="post-title">{{ page.title }}</h2>
                </header>
                    <p class="date">{{ page.date | date: "%B %-d, %Y"}}</p>
                <article class="body markdown-body">
                    {{ page.content }}
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_shortname = '{{ site.disqus_shortname }}';
                        var disqus_config = function () {
                            this.page.url = "{{ page.url | prepend: site.url }}";
                            this.page.identifier = "{{ page.id }}";
                        };
                        (function() {  // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

                </article>
            </section>
        </div>
    </div>
</div>
